
    <div class="intro-header" ng-controller="homeCtrl">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Christina Cunningham</h1>
                        <h3>Software Engineer</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/codesByTina" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li><a href="https://github.com/tinatinatina" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li><a href="https://linkedin.com/in/christinacunningham24/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    <!-- /.intro-header -->
<!--         <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Death to the Stock Photo:
                        <br>Special Thanks</h2>
                    <p class="lead">A special thanks to Death to the Stock Photo for providing the photographs that you see in this template. <a target="_blank" href="http://join.deathtothestockphoto.com/">Visit their website</a> to become a member.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!--/.container -->

    </div> 
    <!-- /.content-section-a-->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tweeyoncé</h2>
                    <p class="lead">Tweeyonce is a web app which graphs trending words in tweets for a searched word or phrase and maps the location of those tweets.  <a target="_blank" href="http://tweeyonce.azurewebsites.net/">Visit Tweeyoncé</a> and see whats trending!</p>
                    <p>Angular JS | D3.js | Node.js | Express | Javascript | UI Bootstrap | Twitter API | Google Maps API | HTML5 | CSS3 </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <a target="_blank" href="http://tweeyonce.azurewebsites.net/"><img class="img-responsive" src="img/beyscreenshot.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">BingeGuru</h2>
                    <p class="lead">Need help planning your next binge-watching marathon?  Let <a target="_blank" href="http://bingeguru.com/">BingeGuru</a> guide your decision with information on TV series, including episode & series length and where to watch!</p>
                    <p>Angular JS | Node.js | Express | Javascript | MongoDB | Mongoose | UI Bootstrap | Trakt API | Rotten Tomatoes API | HTML5 | CSS3 </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a target="_blank" href="http://bingeguru.com/"><img class="img-responsive" src="img/bingescreenshot.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

        <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">UCLA Library
                        <br>Collecting Los Angeles</h2>
                    <p class="lead">"Collecting Los Angeles" is a data visualization of UCLA Library history of LA collection.  <a target="_blank" href="http://cla.library.ucla.edu/explore">Visit the website</a> to explore historical photos and articles.</p>
                     <p>Backbone JS | Marionette | D3.js | JQuery | Javascript | Require JS | JQuery Mobile | Google Maps API | Apache Solr | HTML5 | CSS3 </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <a target="_blank" href="http://cla.library.ucla.edu/explore"><img class="img-responsive" src="img/uclaSS.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

        <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Muni Mover</h2>
                    <p class="lead">See where your Muni bus is in real-time using <a target="_blank" href="http://munimover.azurewebsites.net/">Muni Mover</a>. Muni Mover uses the NextBus API and GeoJSON data to plot Muni bus locations for any route in SF. </p>
                    <p>Angular JS | D3.js | Javascript | Node.js | Express | geoJSON | Nextbus API | UI Bootstrap | HTML5 | CSS3 </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a target="_blank" href="http://munimover.azurewebsites.net/"><img class="img-responsive" src="img/munimoverSS.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Clinical Trial API
                        <br>and Highcharts</h2>
                    <p class="lead"><a target="_blank" href="http://clinicalstudieschart.azurewebsites.net/">Visit the site</a> to search clinical studies by status and conditions available on clinicaltrial.gov. </p>
                     <p>Angular JS | Highcharts | Node.js | Express | Javascript | UI Bootstrap | Clinical trials API | HTML5 | CSS3 </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <a target="_blank" href="http://clinicalstudieschart.azurewebsites.net/"><img class="img-responsive" src="img/clinicaltrialSS.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with Christina:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/codesByTina" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="https://github.com/tinatinatina" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li><a href="https://linkedin.com/in/christinacunningham24/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

 <!--    </div> -->
    <!-- /.banner -->

</div>